<div class="cabecalho">
    <div class="logo"><p>QuizLab</p></div>
    <div class="nav">
        <ul>
            <li><a href="#">Responder</a></li>
            <li><a href="http://localhost:3000/adicionarQuestao">Adicionar</a></li>
            <li><a href="http://localhost:3000/apagarQuestao">Deletar</a></li>
            <li><a href="http://localhost:3000/listarQuestoes">Ver Questões</a></li>
        </ul>
    </div>
</div>