main{
    display: flex;
    justify-content: center;
    
}

main .containerApagaQuestao , .enuciadoQuestao , .campo_texto , .botao_apaga {
    padding: 20px; 
}

main .enuciadoQuestao{
    font-size: 20px;
}

input[type="number"] {
    border: 2px solid #1CB0F6; 
    border-radius: 4px;        
    padding: 8px;
                
}

main .containerApagaQuestao,
input[type="number"]:focus{
    border: none;
    outline: none;
} 

main .botao_apaga button {
    background-color: #1CB0F6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

main .botao_apaga button:hover {
    background-color: #fff;
    color: black; 
}




