footer .container {
    background-color: #486775;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}


footer ul, li {
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

footer a:hover{
    text-decoration: underline;
}

footer ul {
    padding: 0;
}

footer .footerLeft h1 {
    color: #F5921B;
}