main {
    display: flex;
    justify-content: center;
}

main .listaQuestoes {
    width: auto;
    max-width: 50vw;
    height: auto;
    margin: 20px 0;
}

main .listaQuestoes th,
main .listaQuestoes td {
    border: 3px ;
    border-radius: 5px;
    padding: 0.75rem;
    text-align: left;
}

main .listaQuestoes tbody tr {
    /* background-color: rgba(0, 128, 0, 0.1); */
    background-color: #1CB0F6;
    width: 400px;
    color: white;
    transition: background-color 0.8s ease;
}

main .listaQuestoes tbody tr:hover {
    background-color: #f3faff;
    transition: background-color 0.3s ease;
    color: #1CB0F6;
}
    
main .questao_vazia{
    background-color:  #1CB0F6;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.085);
    display: flex;
    justify-content: center;
    align-items: center;
}