

<div class="containerApagaQuestao">
    <h1>Apagar Questão</h1>
    <form action="/apagarQuestao" method="POST">
        <label for="id_questao">ID da Questão:</label>
        <input type="number" name="id_questao" min="1" required>
        <div>
            <button type="submit">Apagar</button>
        </div>
        
    </form>
</div>
