<head>
    <link rel="stylesheet" href="stylesheets/pageInicio-styles.css">
</head>


<div class="container">

    <div class="bloco_saudacao">

        <div class="titulo">
            <h1>Seja bem-vindo ao nosso QuizLab!</h1>
        </div>

        <div class="texto_boaVinda">
            <p>Aqui você pode criar, visualizar, apagar questões e também jogar quizzes divertidos.</p>
            <p> Explore, aprenda e desafie seus conhecimentos!</p>
        </div>

        <div class="botao_comeca"> 
            <a href="#" class="link_comeca">Iniciar Jogo</a>
        </div>

    </div>






</div>